<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Detalle de usuarios</title>
    <link rel="stylesheet" href="/css/css_detalle_usuario.css">
</head>

<body>
    <div class="container">
		 <h1><strong>Detalle usuario</strong></h1>
		 <p>Nombre: <span th:text="${usuario.nombre}"></span></p>
		 <p>Apellidos: <span th:text="${usuario.apellidos}"></span></p>
		 <p>DNI: <span th:text="${usuario.dni}"></span></p>
		 <p>Email: <span th:text="${usuario.correoElectronico}"></span></p>
		 <p>Teléfono: <span th:text="${usuario.telefonoMovil}"></span></p>
		 <p>Fecha de Nacimiento: <span th:text="${usuario.fechaNacimiento}"></span></p>
		 <p>Código Postal: <span th:text="${usuario.codigoPostal}"></span></p>
		 <p><a href='/usuarios'>Volver al Listado de Usuarios</a></p>
	</div>
</body>

</html>
