<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Formulario de usarios</title>
	<link rel="stylesheet" href="/css/css_form_usuarios.css">
</head>

<body>
	<div th:if="${errorMessage}" class="alert alert-danger">
		    <p th:text="${errorMessage}"></p>
		</div>
	<div class="container">
        <h1>Insertar Usuario</h1>
		<form action="/usuario-add" method="post" >
            <label>Nombre <input type="text" required placeholder="Nombre"></label><br>
            <label>Apellidos <input type="text"  required placeholder="Apellidos"></label><br>
            <label>DNI <input type="text" required placeholder="DNI"></label><br>
            <label>Correo Electrónico <input type="email" required placeholder="Correo Electrónico"></label><br>
            <label>Código Postal <input type="text" required placeholder="Código Postal"></label><br>
            <label>Teléfono Móvil <input type="tel" required placeholder="Teléfono Móvil"></label><br>
            <label>Fecha de Nacimiento <input type="date"  required></label><br>
            <label>Password <input type="password"  required placeholder="Password"></label><br>
            <label>Repetir Password <input type="password" required placeholder="Repetir Password"></label><br>
            <input type="submit" value="Añadir">
        </form>
        <p><a href="/usuarios">Volver al Listado de Usuarios</a></p>
    </div>
</body>

</html>
