<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de usuarios</title>
    <link rel="stylesheet" href="/css/css_listado_usuarios.css">

</head>

<body>
    <form method="get" action="/usuarios" >
        <input type="text" class="search-input" placeholder="Buscar..." name="usuario">
        <button type="submit" class="search-button">Buscar</button>
    </form>
    <p><a href="/usuario-add">Añadir Nuevo Usuario</a></p>
	<span th:if="${nombre}" th:text="${nombre}"></span>
	<div th:if="${usuarios.size} > 0"></div>
    <table>
        <thead>
            <tr>
                <th>Nombre Completo</th>
                <th>email</th>
                <th>Fecha de nacimiento</th>
                <th>Código Postal</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="usuario : ${usuarios}">
                <td th:text="${usuario.nombre + ' ' + usuario.apellidos}"></td>
                <td th:text="${usuario.correoElectronico}"></td>
                <td th:text="${usuario.fechaNacimiento}"></td>
                <td th:text="${usuario.codigoPostal}"></td>
                <td>
                    <a th:href="@{/detalle_usuario(nombre=${usuario.nombre}, apellidos=${usuario.apellidos})}"><strong>Detalles</strong></a> /
                    <a th:href="@{/usuario-del(dni=${usuario.dni})}" onclick="return confirm('¿Estás seguro?')"><strong>Borrar</strong></a>
                </td>
            </tr>
        </tbody>
    </table>

</body>

</html>
